.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--primary-color);
  color: white;
  padding: 4rem 2rem;
  gap: 1.2rem;
  width: 100%;
  max-width: var(--section-max-width);
}

.imagesContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.img {
  width: 7rem;
  aspect-ratio: 1 /1;
  background-color: white;
  border-radius: 7rem;
  border: 5px solid white;
  transition: all 0.4s ease-in-out;
}

.visionTitle {
  font-size: 2rem;
  border-bottom: 5px solid;
  text-align: left;
}

.missionTitle {
  font-size: 2rem;
  border-top: 5px solid;
  text-align: right;
}

.leftText {
  align-self: flex-start;
  text-align: left;
}

.rightText {
  align-self: flex-end;
  text-align: left;
}

@media only screen and (min-width: 600px) {
  .leftText {
    width: 30rem;
    font-size: 1.3rem;
  }

  .rightText {
    width: 30rem;
    font-size: 1.4rem;
  }

  .img {
    width: 16rem;
    border-radius: 8rem;
  }

  .img:hover {
    border-radius: 4rem;
  }
}
